* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.news {
  width: 85%;
  margin: 0 auto; }
  .news .newsItems {
    display: inline-block;
    width: 20%;
    text-align: center;
    vertical-align: top; }
    .news .newsItems .newsTitle {
      display: inline-block; }
    .news .newsItems .newsPhoto {
      display: inline-block;
      width: 80px;
      margin-bottom: 5px; }

.newsPhoto {
  width: 75px;
  margin-right: 40px; }

.bandInput {
  text-align: center; }
  .bandInput input {
    width: 46%;
    padding: 5px;
    margin-top: 25px;
    font-size: 27px;
    text-align: center;
    border-radius: 36px;
    border: 1px solid black;
    box-shadow: none; }
  .bandInput input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset; }
  .bandInput input:focus {
    outline: none; }

.topRow {
  width: 85%;
  margin: 0 auto; }
  .topRow div {
    display: inline-block;
    width: 22%;
    padding: 15px;
    text-align: center; }

.eventItem {
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid; }
  .eventItem div {
    display: inline-block;
    width: 22%;
    padding: 15px;
    vertical-align: middle; }
  .eventItem a {
    padding: 5px;
    border: 1px solid black;
    margin-left: 20px; }
