body {
  background-image: url("./space-wallpaper1.jpg");
  background-size: 150%;
  background-repeat: no-repeat;
  background-color: black; }

header {
  background: linear-gradient(to top, rgba(83, 184, 252, 0), rgba(83, 184, 252, 0.8)); }

span.l {
  font-size: 19px;
  color: rgba(83, 184, 252, 0.8); }

.title {
  font-size: 20px; }

* {
  font-family: "Orbitron";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  text-shadow: 2px 2px 5px white; }

.weatherContainer {
  width: 85%;
  margin: 0 auto;
  border: 2px solid #53B8FC;
  border-radius: 12px;
  margin-bottom: 5%;
  padding: 1%;
  background: linear-gradient(to top, rgba(83, 184, 252, 0.2), rgba(83, 184, 252, 0.8)); }

.news {
  width: 85%;
  margin: 0 auto;
  border: 2px solid #53B8FC;
  border-radius: 12px;
  background: linear-gradient(to top, rgba(83, 184, 252, 0.2), rgba(83, 184, 252, 0.7)); }
  .news .newsItems {
    display: inline-block;
    width: 20%;
    height: 100%;
    font-size: 12px;
    text-align: center;
    vertical-align: top; }
    .news .newsItems .newsTitle {
      display: inline-block;
      width: 80%; }
    .news .newsItems .newsPhoto {
      display: inline-block;
      padding-top: 2%;
      border-radius: 10px;
      margin-bottom: 5px;
      width: 75px;
      margin-right: 40px; }

.bandInput {
  text-align: center; }
  .bandInput input {
    width: 46%;
    padding: 5px;
    margin-top: 25px;
    font-size: 27px;
    text-align: center;
    border-radius: 36px;
    border: 1px solid black;
    box-shadow: none; }
  .bandInput input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset; }
  .bandInput input:focus {
    outline: none; }

.topRow {
  width: 85%;
  margin: 0 auto; }
  .topRow div {
    display: inline-block;
    width: 22%;
    padding: 15px; }

.eventItem {
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid; }
  .eventItem div {
    display: inline-block;
    width: 22%;
    padding: 15px;
    vertical-align: middle; }
  .eventItem a {
    padding: 5px;
    border: 1px solid black;
    margin-left: 20px; }
