* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.eventItem {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid;

  div {
    display: inline-block;
    width: 22%;
    padding: 15px;
    vertical-align: middle;

  }
  a {
    padding: 5px;
    border: 1px solid black;

  }

}
